body{
  background-color:#0a0a0a;
  }  
h1{
  color:  rgb(0, 102, 204);
  line-height: 1.5;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  letter-spacing: 4px;
  text-align: center;
}
button{
  cursor: pointer;
  border: solid rgb(187, 204, 0);
  margin: 0 auto;
  display: block;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 12px 30px;
  transition: .5s;
  width: 330px;
  border-radius: 50px;
  background: linear-gradient(90deg, rgb(0, 102, 204) 0%, rgb(197, 0, 204) 100%);
  }

  button:hover{
  color: rgb(255, 255, 255);
  width: 370px;
  opacity: 0.8;
  }
.main-content{
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.color-box{
  border-radius: 2px;
  width: 250px;
  font-family: "Righteous", sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: end;
  border: 5px solid white;
  padding: 17px;
  font-size:20px;
  height: 200px;
  margin: 10px;
}
