body{
  background-color: rgb(10, 10, 10);
  }  
h1{
  color: rgba(63, 55, 131, 0.863);
  line-height: 1.5;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  letter-spacing: 4px;
  text-align: center;
}
.main-content{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.color-number{
  background-color: pink;
  border-radius: 2px;
  width: 250px;
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: end;
  border: 5px solid white;
  padding: 17px;
  font-size: 30px;
  height: 200px;
  margin: 10px;
}